<div class="row" dir="rtl">
        <div class="panel-heading">
            <h4 class="modal-title">שינוי סיסמא</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>הזן את הסיסמא הנוכחית שלך</label>
                <input class="form-control" ng-model="data.oldPassword" placeholder="הכנס סיסמא" type="text">
            </div>
            <div class="form-group">
                <label>הזן סיסמא חדשה</label>
                <input class="form-control" ng-model="data.newPassword" placeholder=" הכנס סיסמא חדשה" type="text">
            </div>
            <div class="form-group">
                <label>הזן אישור סיסמא</label>
                <input class="form-control" ng-model="data.confirmNewPassword" placeholder="אמת סיסמא חדשה" type="text">
            </div>
            <button ng-click="submitData()" class="btn btn-success">אישור</button>
        </div>
    </div>
</div>