<div class="row">
    <div class="col-lg-12" id="titlePage">
        <h1> בית </h1>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12">

            <div class="panel panel-platColor2">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> בחר חודש </h3>
                </div>
                <md-content layout-padding="">
                    <md-select ng-model="selectedMonth" aria-label="Close" placeholder="בחר חודש">
                        <md-option ng-repeat="item in months">{{ item.month }} {{ item.year }}</md-option>
                    </md-select>
                </md-content>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-platColor2">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> מאזן חודשי </h3>
                </div>
                <div class="panel-body">
                    <div id="noDataToShowDoughnut" ng-show="showOnDoughnut()">
                        <label> למערכת אין נתונים להציג עבורך עבור חודש זה, אנא בחר חודש אחר</label>
                    </div>
                    <canvas ng-hide="showOnDoughnut()"
                            class="chart chart-doughnut"
                            chart-data="dataChartDoughnut"
                            chart-labels="labelsDoughnut"
                            chart-click="onClickDoughnut"
                            chart-options="optionsDoughnut"
                            chart-colours="colorDoughnut">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-platColor2">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> פירוט הוצאות </h3>
                </div>
                <div class="panel-body">
                    <div id="noDataToShowPie" ng-show="showOnPie()">
                        <label> למערכת אין נתונים להציג עבורך עבור חודש זה, אנא בחר חודש אחר</label>
                    </div>
                    <canvas ng-hide="showOnPie()"
                            class="chart chart-pie"
                            chart-data="dataChartPie"
                            chart-labels="labelsPie"
                            chart-click="onClickPie"
                            chart-options="optionsPie"
                            chart-colours="colorPie"
                            chart-legend="legend">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>